h1 {
    color: #8A2BE2;
    font-family: Arial, sans-serif;
}

#paragrafo1 {
    color: #FF4500;
    font-size: 1.2rem;
}

#paragrafo2 {
    color: #2E8B57;
    font-size: 1.2rem;
}

#paragrafo3 {
    color: #4682B4;
    font-size: 1.2rem;
}